// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  padding-left: 20px;
  padding-top:10px;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;

// added by zjl
 //   background:url(/favicon-32x32.png) no-repeat left center;
//    padding-left:45px;
// end

  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
